.Player__list {
  display: grid;
  list-style: none;
  gap: 10px;
  margin: 0 20px 20px 20px;
}
.Player {
  display: grid;
  grid-auto-flow: column;
}

/* wenn Player ohne feste breit  -> buttons unterschiedliche Größe?! */
.Player__name {
  width: 2rem;
}
.Player__score {
  text-align: center;
}
